:root {
  /* --dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 99%); */
  --dark-grayish-green: hsl(115, 15%, 32%);
  --desaturated-dark-green: hsl(124, 11%, 49%);
  --grayish-green: hsl(143, 57%, 77%);
  --light-grayish-green: hsl(120, 37%, 88%);
  --mint: hsl(120, 47%, 81%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-family: "Manrope", sans-serif;
  font-size: 0.8125rem;
  background-color: var(--light-grayish-green);
  display: grid;
  place-content: center;
  align-items: center;
  min-height: 100vh;

  background-image: url(./images/wave.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover 100;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: 5rem 1.5rem;
  position: relative;
  max-width: 21.125rem;
  /* max-width: 31.25rem; */
}

.card-preview-img {
  object-fit: cover;
  object-position: top;
  min-height: 13.6rem;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.card-preview {
  margin-bottom: -5px;
}

.card-content {
  background-color: var(--mint);
  padding: 2.4rem;
  max-width: 41.375rem;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  box-shadow: 0 5px 30px rgba(182, 182, 182, 0.75);
}

.card-title {
  color: var(--dark-grayish-green);
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.card-leading {
  color: var(--desaturated-dark-green);
  font-weight: 500;
  padding-bottom: 2rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-author-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 5em;
}

.card-author {
  display: flex;
  gap: 1rem;
}

.card-author-name {
  color: var(--dark-grayish-green);
  font-weight: 700;
  font-size: 0.7rem;
}

.card-date {
  color: var(--desaturated-dark-green);
  font-size: 0.65rem;
}

.share-btn {
  background-color: var(--light-grayish-green);
  width: 2rem;
  height: 2rem;
  border-radius: 5rem;
}
.card-btn {
  z-index: 9999;
}

.share-btn:hover {
  box-shadow: 1px 3px 15px rgba(182, 182, 182, 0.75);
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: var(--grayish-green);
}
.card-footer {
  position: relative;
}

.share-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem;
  z-index: 999;
}

.share-container {
  background-color: var(--dark-grayish-green);

  width: 85%;
  height: 5rem;
  position: absolute;
  top: 35.9rem;

  border-bottom-right-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
}

.share-list {
  gap: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-text {
  color: var(--mint);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.65rem;
  letter-spacing: 0.25rem;
}

.hidden {
  display: none;
}

.share-container img {
  width: 16px;
  height: 16px;
}

@media (width>=1440px) {
  body {
    background-image: url(./images/wave.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover 100;
  }
  .card-container {
    flex-direction: row;
    max-width: 76rem;
    height: 35.375rem;
  }

  .card-preview-img {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.8rem;
    box-shadow: 0 5px 30px rgba(182, 182, 182, 0.75);
    display: block;
    margin-left: 10%;
    margin-right: auto;
  }

  .card-content {
    border-top-right-radius: 0.8rem;
    border-bottom-left-radius: 0;
    position: relative;
    left: -3rem;
  }

  .card-title {
    font-size: 2rem;
  }

  .card-leading {
    font-size: 1.25rem;
  }

  .card-author-name {
    font-size: 1rem;
  }

  .card-date {
    font-size: 1rem;
  }

  .card-author-avatar {
    width: 3rem;
    height: 3rem;
  }

  .share-btn {
    width: 3rem;
    height: 3rem;
  }

  .share-container {
    width: 15rem;
    height: 4rem;
    top: 17rem;
    left: 60rem;
    border-radius: 0.8em;
  }

  .share-container::after {
    border-left: solid transparent 0.625rem;
    border-right: solid transparent 0.625rem;
    border-top: solid var(--dark-grayish-green) 1rem;
    bottom: -0.875rem;
    content: " ";
    height: 0;
    left: 7.75rem;
    margin-left: -0.8125rem;
    position: absolute;
    width: 0;
  }
}
